<div class = "side-page">
    <div class = "space"></div>
    <h1>About Us</h1>
    <%= sanitize @about, tags: %w(p br strong em ul ol li) %> 
</div>

<style>

    .space {
    height: clamp(60px, 10vh, 120px);

}
</style>