<div class = "side-page">
   
    <h1> About us </h1>
     <%=  button_to " Home Page ", index_path, method: :get, class: "home-btn"%>
    <%= sanitize @about, tags: %w(p br strong em ul ol li) %> 
</div>
