<div class = "page">

    <h1> Policy </h1>

    <p><%= @policy %></p>    

</div>

<style>

.page {
    height: 80vh;
    width: 80vw;
}

.page h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.page p {
    font-size: 3em;
    line-height: 1.5;
    margin: 20px 0;
}
</style>