<div class = "view">
    <section class = "about">  
        <div class = "about-gradient" style =  "background: linear-gradient(180deg, #0166B1 0%, #2756A2 28.37%, #214989 51.92%, #1E427C 68.27%, #1B3B6F 86.06%);"></div>
        <div class = "our-story">
            <div class = "story-content">
                <h1>Our Story</h1>
                <p> Our founder started repairing cars in 1998 for family and friends, quickly developing a cost-effective way to source quality parts. With an electrical engineering background, he mastered complex systems in both American and foreign vehicles. After years of hands-on experience, he co-founded a dealership in 2020 and launched Exotic Euro in 2025 to bring his passion for high-end car restoration to the next level. </p>    
            </div>    
        </div>        
        <div class = "about-gradient"></div>
    </section>
        

</div>

<style>
    .view{
        height: 100vh;           
        width: 100%;             
        display: flex;
        justify-content: center;
        align-items: center;    
        border: 2px solid green;
        overflow: hidden;
    }

    .about{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .about-gradient {
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg, #0166B1 0%, #2756A2 28.37%, #214989 51.92%, #1E427C 68.27%, #1B3B6F 86.06%);
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .our-story {
        width: 100%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b3b6f;
    }

    .story-content {
        max-width: 800px;
        padding: 20px;
        color: white;
        text-align: center;
        font-family: 'Source Serif Pro', serif;
    }

    .story-content h1 {
        font-size: clamp(2.25rem, 5vw, 4.5rem);
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    .story-content p {
        font-size: clamp(1.4rem, 3vw, 1.8rem);
    }

</style>

