<div class = "view">
   <div class="flash-message <%= "error" %>">
        <div class="flash-content">
          <span> dsasd ad as </span>
       </div>
      </div>


</div>

<style>
    .view{
        height: 100vh;           
        width: 100%;             
        display: flex;
        justify-content: center;
        align-items: center;    
        border: 2px solid green;
        overflow: hidden;
    }


</style>

