<div class="contact-card">
  <div class="contact-content">
    <div class="left-side">
      <div class="contact-info">
        <h3> Contact Info</h3>
        <a>Phone: <%= @user.phone %></a><br>
        <a>Email: <%= @user.email %></a>
      </div>
    </div>

    <div class="work-hours">
      <div class="hours-info">
        <h3>Work Hours</h3>
        <a>Mon - Fri: 9:00 AM - 6:00 PM</a><br>
        <a>Sat: 10:00 AM - 4:00 PM</a><br>
        <a>Sun: Closed</a>
      </div>
    </div>
  </div>
</div>

<style>
  @media (max-width: 420px) {
    .contact-card {
      width: 80%;
    }

  }
</style>

