<div class = "contact-card">
    <h2> <%= @user.location %></h2>
    <div class = "contact-content">
        <div class = "left-side">
            <div class = "contact-info">
                <p> Phone: <%= @user.phone %></p>
                <p> Email: <%= @user.email %></p>
            </div>
            <div class = "work-hours">
                <h3>Work Hours</h3>
                <a>Mon - Fri: 9:00 AM - 6:00 PM</a><br>
                <a>Sat: 10:00 AM - 4:00 PM</a><br>
                <a>Sun: Closed</a>
            </div>
        </div>
        <div class = "location-map" style = "background-image: url('<%= Image.find_by(name: "location_image").url %>'); "></div>
    </div>
</div>