<div class = "testimony">
    <div class = "testimony-text">  
        <a>They made buying a BMW M4 not just possible, but easy. The car was restored to factory specs — flawless inside and out. I saved over $20k and still feel like I drove it straight off the showroom floor.</a>
        <h3> Michael T </h3>
    </div>
</div>