<div class = "testimony">
    <div class = "testimony-text">
        <a>I’ve always dreamed of owning a Mercedes, but the full price was out of reach. These guys found one with minor damage, completely restored it, and now it’s mine — for way less than the dealership was asking. It runs like a dream, and you’d never know it had ever been touched.</a>
        <h3>  Jasmine R </h3>
    </div>
</div>