<div class = "testimony">
    <div class = "testimony-image"></div>
    <div class = "testimony-text">
        <h3> Ravi S </h3>
        <a>I gave them my wishlist — Audi Q7, fully loaded. They tracked one down that had some light front-end damage, repaired it perfectly, and now it’s in my garage. Total professionals. Total game-changer.</a>
    </div>
</div>