<div class = "testimony">
    <div class = "testimony-image"></div>
    <div class = "testimony-text">
        <h3> Lena G </h3>
        <a>I used to think salvaged cars were risky, but not with this team. They walked me through every step, showed me the repairs, and now I’ve got a Jaguar F-Type that turns heads every time I drive it.</a>
    </div>
</div>