.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dashboard h1 {
    
    font-size: clamp(2.25rem, 5vw, 4.5rem);
    margin-bottom: 20px;
    color: white;
}

.dashboard h3{
    
    font-size: clamp(1.5rem, 5vw, 2.25rem);
}


.car-image {
    border: 1px solid #ccc;
    width: 400px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.car-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

