.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    color: white;
}

.contact-card {
  width: 95%;
  max-width: 1032px;
  box-sizing: border-box;
  min-height: 350px;
  border-radius: 48px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #1B3B6F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.left-side,
.work-hours {
  flex: 1 1 20%; /* Can shrink/grow and start stacking under 45% width */
  text-align: left;
  min-width: 280px;
}

.contact-info,
.hours-info {
  display: flex;
  flex-direction: column;
}


.contact-info,
.hours-info a {
    font-size: 1.5rem;
}

.contact-card h3 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  margin: 20px;
}



.contact-card h2{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}

@media(max-width: 768px) {
  .contact-card {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .left-side,
  .work-hours {
    flex: 1 1 100%; /* Full width on smaller screens */
    text-align: center;
    min-width: unset; /* Reset min-width for smaller screens */
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
  }
}