.side-page {
    min-height: 100vh;
    justify-content: space-between;
    width: 80vw;
    color: white;
    
}

.side-page h1 {
    font-size: clamp(3.5rem, 5vw, 4.5rem);
    text-align: center;
    margin-top: 20px;
    
}
.side-page p {
    font-size: clamp(0.75rem, 5vw, 1.5rem);
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}



.side-page form {            
  text-align: center;      
}