.side-page {
    height: 80vh;
    width: 80vw;
    color: white;
}

.side-page h1 {
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
    
}
.side-page p {
    font-size: 3em;
    line-height: 1.5;
    margin: 20px 0;
}