.step-by-step {
    color: #fff;
    height: auto;
    width: clamp(320px, 100%, 3000px);
    padding-top: 36px;
    margin: 0;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}


.step {
    background-color: #1B3B6F;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    display: flex;
    align-items: left;
    width: 85%;
}

.step-text {
    position: relative;
    color: #fff;
    padding-left: 50px;
    text-align: left;
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
}

.step-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 100%;
    background: linear-gradient(to left, #ffffff, transparent);
}


.book-btn {
    background-color: #000;
    width: 300px;
    height: 50px;
    border-radius: 36px;
    border: 1px solid #e9e9e9;
    margin: 20px auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.step {
  /* remove any static transform from earlier examples */
  transform: scale(0.8);  
  transition: transform 0.1s linear; /* smooth out updates */
}