
      <footer>
        <div class = "top-footer-section">
            <h2> <%= link_to 'Exotic Euro', root_path, class: "link" %></h2>
            <div class = "social-media">
                <div class = "social-media-icon"></div>
                <div class = "social-media-icon"></div>
                <div class = "social-media-icon"></div>
            </div>
        </div>

        <div class = "middle-footer-section">
            <h2><%= link_to 'About Us', about_path, class: "link" %></h2>
            <h2><%= link_to 'Contact', contact_path, class: "link" %></h2>
            <h2><%= link_to 'Policy', policy_path, class: "link" %></h2>
        </div>

        <div class = "bottom-footer-section">
            <h2>© 2025 Exotic Euro. All rights reserved. Developed by S.T.I.</h2>
        </div>
    </footer>