
      <footer>
        <div class = "top-footer-section">
            <h2>Exotic Euro</h2>
            <div class = "social-media">
                <div class = "social-media-icon"></div>
                <div class = "social-media-icon"></div>
                <div class = "social-media-icon"></div>
            </div>
        </div>

        <div class = "middle-footer-section">
            <h2>About Us</h2>
            <h2>Contact</h2>
            <h2>Policy</h2>
        </div>

        <div class = "bottom-footer-section">
            <h2>© 2025 Exotic Euro. All rights reserved. Developed by S.T.I.</h2>
        </div>
    </footer>